*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Visual Studio 2015
.vs/

# Rider
.idea

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

#Test
TestResults


######### Testdata created by testrun #########
src/test/IntegrationTests/Data/blobs/output/
/test/IntegrationTests/Data/blobs/output
test/Bruno/Altinn.Authorization/results.json
test/Bruno/Altinn.Authorization/results.xml
