TOKEN_BASIC_AUTH_USER=
TOKEN_BASIC_AUTH_PW=

AT22_APIM_SUBSCRIPTION_KEY=
AT23_APIM_SUBSCRIPTION_KEY=
AT24_APIM_SUBSCRIPTION_KEY=
YT01_APIM_SUBSCRIPTION_KEY=
TT02_APIM_SUBSCRIPTION_KEY=
PROD_APIM_SUBSCRIPTION_KEY=